.content-wrapper {
    display: flex
}

.content-wrapper div{
    margin-right: 40px
}

.preview-page {
    display: flex;
}

.create {
    background-color: green;
}

.fieldName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
}

form label, form input {
    display: flex;
    flex-direction: row;
}