#sideNav{
    border-right: solid black;
    padding-top: 30px;
    border-width: 2px;
    margin-left: 3px;
}
.side-nav{
    display: flex;
    align-items: flex-start;
}

.topNav{
    background-color: darkred;
    border-width: 50px;
    height: 80px;
    border: solid black;
    border-width: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
}

.topNav a:visited{
    color: white;
}
a{
    text-decoration: none;
}

button{
    height: 40px;
    width: 150px;
    background-color: gray;
    border: solid black;
    border-width: thin;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 1px black
}

.delete {
    height: 20px;
    width: 20px;
}