.topNav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.topNav{
  height: 40px;
  border-bottom: solid black;
}

.leftNav{
  display: flex;
  width: 280px;
  border-right: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}